.VendingMachine {
  position: absolute;
  background-color: #cccccc;
  left: 50%;
  top: 75px;
  transform: translateX(-50%);
  padding: 10px;
  border-radius: 10px;
}

.VendingMachine > div {
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 10px;
}

.VendingMachine > div > div > img {
  border: 1px solid black;
  border-radius: 10px;
}
